/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */

#home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------- Elementos de secciones ------------------------- */
#home-main section {
    width: 90%;
}

#home-main article {
    border: dotted 1px black;
}

#home-main p {
    text-align: justify;
    max-width: 1050px;
    margin: 0 auto;
    padding: 10px;
}

.section-divider {
    border: none;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    margin: 40px auto;
    width: 90%;
}

.section-video-container {
    padding-bottom: 20px;
}

/* ---------------------------- Seccion video ---------------------------- */
.section-video-container {
    display: flex;
    justify-content: center;
}



/* -------------------------------------------------------------------------- */
/*                                  CATALOGO                                  */
/* -------------------------------------------------------------------------- */
.grid-products {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    place-items: center;
    gap: 5px;
}


/* --------------------------- Tarjeta de producto -------------------------- */
.product-card {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(104, 153, 151, 0.39);
    height: 500px;
}

.img-container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex: 2;
}

.img-container img {
    height: 200px;
}

.description-container {
    flex: 3;
    width: 90%;
}

.description-container h2 {
    height: 50px;
}

.description-container p {
    text-align: center;
    height: 93px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description-container span {
    display: block;
    text-align: center;
}

.kart-options-container {
    flex: 1;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.kart-options-container input {
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    background-color: #f0f0f0c5;
    border-radius: 4px;
}

.kart-options-container button {
    width: 30px;
    height: 30px;
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 4px 10px;
    margin: 0 4px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.kart-options-container button:active {
    background-color: #3498db;
    box-shadow: 0 0 5px #3498db;
}

.kart-btn-container {
    width: 90%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kart-btn-container button {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.kart-btn-container button:active {
    background-color: #16a085;
    transform: scale(1.05);
    box-shadow: 0 0 10px #1abc9c;
}


/* ------------------------ Controloes de paginacion ------------------------ */
.pagination-container {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.pagination-container input {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
    border: none;
    background-color: #f0f0f0c5;
    border-radius: 4px;
}

.pagination-container button {
    background-color: rgb(47, 117, 197);
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.pagination-container button:active {
    background-color: rgb(0, 103, 221);
    transform: scale(1.02);
    box-shadow: 0 0 10px rgb(47, 117, 197);
}



/* -------------------------------------------------------------------------- */
/*                                   CARRITO                                  */
/* -------------------------------------------------------------------------- */
#kart-main {
    min-height: 100vh;
}

/* -------------------------- Contenido del carrito ------------------------- */
.kart-data-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.kart-total-amount-container,
.kart-item-container {
    width: 100%;
    display: flex;
    background-color: rgba(104, 153, 151, 0.39);
    border: solid black 1px;
    border-radius: 5px;
}

.kart-item-img-container {
    flex: 2;
    height: 90px;
    display: flex;
    justify-content: center;
}

.kart-item-img-container img {
    height: 100%;
}

.kart-item-description {
    flex: 5;
    display: flex;
    align-items: center;
    max-height: 90px;
    overflow: hidden;
}

.kart-item-description span {
    padding-left: 5px;
}

.kart-item-price,
.kart-item-quantity,
.kart-item-subtotal {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kart-total-amount-container {
    height: 90px;
    align-items: center;
    justify-content: space-between;
}

.kart-total-amount-container span {
    font-weight: bold;
    font-size: 20px;
}

#kart-total-title {
    padding-left: 50px;
}

#kart-total-amount {
    padding-right: 20px;
}

/* ---------------------------- Botones de accion --------------------------- */
#kart-main .kart-btn-container {
    margin: 0 auto;
    padding-top: 20px;
    width: 80%;
    display: flex;
    column-gap: 20px;
}

#kart-main .kart-btn-container button {
    width: 120px;
}

#empty-kart-btn {
    background-color: rgb(197, 47, 47);
}

#empty-kart-btn:active {
    background-color: rgb(253, 39, 39);
    transform: scale(1.02);
    box-shadow: 0 0 10px rgb(197, 47, 47);
}


/* -------------------------------------------------------------------------- */
/*                                  CONTACTO                                  */
/* -------------------------------------------------------------------------- */
#contact-main {
    min-height: 100vh;
}

#contact-form {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.form-container {
    border: rgb(78, 75, 75) solid 1px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(86, 74, 253, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 25px;
    width: 50%;
    margin: 0 top;
}

.form-buttons-container,
.form-group-radio,
.form-group {
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-group-radio {
    display: flex;
    padding: 10px;
}

.form-buttons-container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 10px;
}

.form-buttons-container button {
    width: 35%;
    height: 150%;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.2s;
}

.form-buttons-container button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(86, 74, 253, 0.5);
}



/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

/* -------------------------------- Catalogo -------------------------------- */
@media(max-width:600px) {
    .grid-products {
        grid-template-columns: 1fr;
    }

    .product-card {
        width: 80%;
    }
}


/* --------------------------------- Carrito -------------------------------- */
@media(max-width:600px) {
    .kart-item-container {
        height: 90px;
    }

    .kart-item-img-container {
        display: none;
    }

    .kart-item-description {
        flex: 3;
    }

    .kart-item-description span {
        padding-left: 40px;
    }
}